<ion-header>
  <ion-navbar primary>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title *ngIf="allGroupDataHasBeenCharged">
      {{group.name}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="default" (click)="openGroupEditPage(group)">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="allGroupDataHasBeenCharged && !isCurrentUserMemberOfGroup">
    <ion-card-header>
      <ion-label *ngIf="allGroupDataHasBeenCharged">A propos du groupe {{ group.name }}</ion-label>
    </ion-card-header>
    <ion-card-content>
      <p>{{ group.description }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="allGroupDataHasBeenCharged">
    <ion-card-header>
      <ion-item>
        <ion-label item-left *ngIf="allGroupDataHasBeenCharged && isCurrentUserMemberOfGroup">Membres</ion-label>
        <ion-label item-left *ngIf="allGroupDataHasBeenCharged && !isCurrentUserMemberOfGroup">Administrateur</ion-label>
        <ion-icon item-right name="add" *ngIf="isCurrentUserMemberOfGroup && isCurrentUserSuperAdmin" (click)="openGroupInvitationPage(group)"></ion-icon>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="areGroupUsersLoaded && isCurrentUserMemberOfGroup && !!groupUsers">
        <ion-item *ngFor="let groupUser of groupUsers">
          <ion-avatar item-left (click)="openProfilePage(groupUser.id)">
            <img src="{{groupUser.image}}">
          </ion-avatar>
          <div (click)="openProfilePage(groupUser.id)">
            <h2>{{groupUser.firstname}} {{groupUser.lastname}}</h2>
            <p>{{groupUser.email}}</p>
          </div>
          <ion-icon item-right name="star" *ngIf="groupUser.id === group.superAdminId"></ion-icon>
          <button item-right ion-button outline color="danger" *ngIf="currentUserId !== groupUser.id && isCurrentUserSuperAdmin"
            (click)="removeMemberFromCurrentGroup(groupUser, group)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="areGroupUsersLoaded && !isCurrentUserMemberOfGroup && !!superAdminUser">
        <ion-item>
          <ion-avatar item-left>
            <img src="{{superAdminUser.image}}">
          </ion-avatar>
          <h2>{{superAdminUser.firstname}} {{superAdminUser.lastname}}</h2>
          <p>{{superAdminUser.email}}</p>
          <ion-icon item-right name="star"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-spinner name="crescent" *ngIf="!areGroupUsersLoaded"></ion-spinner>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="isCurrentUserSuperAdmin && !!joinRequestUsers.length">
    <ion-card-header>Demandes d'ajout</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let joinRequestUser of joinRequestUsers">
          <ion-avatar item-left>
            <img src="{{joinRequestUser.image}}">
          </ion-avatar>
          <h2>{{joinRequestUser.firstname}} {{joinRequestUser.lastname}}</h2>
          <p>{{joinRequestUser.email}}</p>
          <div item-right>
              <ion-icon item-right name="checkmark" (click)="acceptJoinRequest(joinRequestUser.id, joinRequestUser.firstname, joinRequestUser.lastname)"></ion-icon>
              <ion-icon item-right name="close" (click)="refuseJoinRequest(joinRequestUser.id, joinRequestUser.firstname, joinRequestUser.lastname)"></ion-icon>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <div *ngIf="allGroupDataHasBeenCharged">
    <button *ngIf="isCurrentUserSuperAdmin" block ion-button color="warning" (click)="changeGroupSuperAdmin()">Désigner un nouvel admin</button>
    <button *ngIf="!isCurrentUserMemberOfGroup" block ion-button color="warning" (click)="sendGroupJoinRequest()" [disabled]="hasCurrentUserAlreadyMadeJoinRequest">Intégrer le groupe</button>
    <p padding *ngIf="hasCurrentUserAlreadyMadeJoinRequest && !isCurrentUserMemberOfGroup">Vous serez intégré au groupe dès l'accord de son administrateur</p>
    <button block ion-button color="danger" (click)="leaveGroup()" *ngIf="isCurrentUserMemberOfGroup">Quitter le groupe</button>
    <button block ion-button color="danger" (click)="removeGroup()" *ngIf="isCurrentUserSuperAdmin">Supprimer le groupe</button>
  </div>
</ion-content>