<ion-header>
  <ion-navbar primary>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Suivis
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar #searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list *ngIf="!!followedUsers.length">
    <ion-item *ngFor="let followedUser of filteredFollowedUsers">
      <ion-avatar item-left (click)="openProfilePage(followedUser.id)">
        <img src="{{ followedUser.image }}">
      </ion-avatar>
      <div (click)="openProfilePage(followedUser.id)">
        <h2>{{ followedUser.firstname }} {{ followedUser.lastname }}</h2>
        <p>{{ followedUser.email }}</p>
      </div>
      <button *ngIf="!!isCurrentUserProfile" ion-button color="primary" outline item-right (click)="unfollowUser(followedUser.id)">Ne plus suivre</button>
    </ion-item>
  </ion-list>
</ion-content>