<ion-header>
  <ion-navbar primary>
      <button ion-button menuToggle icon-only>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Suivis
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="!!followedUsers.length">
    <ion-item *ngFor="let followedUser of followedUsers">
      <ion-avatar item-left (click)="openProfilePage(followedUser.id)">
        <img src="{{followedUser.image}}">
      </ion-avatar>
      <div (click)="openProfilePage(followedUser.id)">
        <h2>{{followedUser.name}}</h2>
        <p>{{followedUser.email}}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>