<ion-header>
  <ion-navbar primary>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Me suivent
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar #searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list *ngIf="!!followerUsers.length">
    <ion-item *ngFor="let followerUser of filteredFollowerUsers">
      <ion-avatar item-left (click)="openProfilePage(followerUser.id)">
        <img src="{{ followerUser.image }}">
      </ion-avatar>
      <div (click)="openProfilePage(followerUser.id)">
        <h2>{{ followerUser.firstname }} {{ followerUser.lastname }}</h2>
        <p>{{ followerUser.email }}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>